*.elc
*~
server
eshell
auto-save-list
elpa/archives/**/archive-contents
tramp
elpa

# for jedi
.python-environments

# for windows package https
network-security.data

# semanticdb
semanticdb

# auto complete data
ac-comphist.dat